* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color:black;
  --bg-color-2: rgba(66, 211, 255, 0.13);
  --primary-color:#42d3ff;
  --text-color:#FFFFFF;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;
  min-height: 100vh;
  display: grid;
  
}

.container{
  justify-self: center;
  align-self: flex-end;
}

.timer {
  display: flex;
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: var(--bg-color-2);
  border-radius: 9999px;

  width: clamp(10rem , 10rem + 30vw, 22.8rem)  ;
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
  
  gap: 3.2rem;
  
}

button{
  background: transparent;
  border: none;
  cursor: pointer;
}

button img{
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.hide{
  display: none;
}

footer{
  justify-self: end;
  align-self: flex-end;
  padding: 3rem;
}

